# EditorConfig helps maintain consistent coding styles across different editors
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ Source Files
[*.{cpp,h,ino,c}]
indent_style = space
indent_size = 2
max_line_length = 100

# Markdown Files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# JSON Files
[*.json]
indent_style = space
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Python Files
[*.py]
indent_style = space
indent_size = 4
